<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: rgba(0, 0, 0, 0.05);">
  <a class="navbar-brand" routerLink="home" id="nameapp">GestCours</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="home">Home <i class="fa fa-home" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="add-course">add-course <i class="fa fa-plus" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="course-card">display-course <i class="fa fa-th-list" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="auth">deconnexion <i class="fa fa-power-off" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
