<h3 class="title">Liste des cours</h3>
<div class="row" id="card">
  <div class="col-sm-4 mb-3 mb-sm-0" id="cards" *ngFor="let courseCard of coursList">
    <div class="card">
      <div class="card-body">
        <i class="fa fa-book" aria-hidden="true" id="fa"></i>
        <h5 class="card-title">Intitulé: {{courseCard.titre}}</h5>
        <p class="card-text">description: {{courseCard.description}}</p>
        <p class="card-text">Durée: {{courseCard.duree}}</p>
        <button class="btn btn-primary" id="command" routerLink="/course-detail">Update <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button class="btn btn-danger" id="command" (click)="deleteCourse(courseCard.id)">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>

