<form class="container" [formGroup]="detailForm" (ngSubmit)="updateCourse()">
  <h3 class="title">Mettre a jour le cour :**</h3>
  <div class="form-group">
    <label for="formGroupExampleInput">Titre</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" formControlName="titre">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Durée</label>
    <input type="time" class="form-control" id="formGroupExampleInput2" formControlName="duree">
  </div>
  <div class="form-group" id="btncard">
    <button type="button" class="btn btn-danger" id="btn" routerLink="/course-card">Annuler <i class="fa fa-ban"
        aria-hidden="true"></i></button>
    <button type="submit" class="btn btn-success" id="btn">Modifier <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
  </div>
</form>
